body{width: 90%;border-radius: 17px; padding: 12px; margin-left: 50%; margin-right: 50%;}
html{background-color: cadetblue;
background-image:url}
#cute{ float: left}
.mwanga{width: 200px;height: 200px;border-radius:70%;margin: auto; display: block;}
.homeCarousel{background-image: url(samuel%20holl.jpg);height: 200px; width: 4000px;
    
}
.ha{
    text-decoration-color: honeydew;
    text-align: center;
}
